@use "../global/_forward" as global;

.header {
  background-color: global.$color_yellow;
  
  .logo {
    background-color: darkolivegreen;
  }
  
  .nav {
  
  > ul {
    display: flex;
    justify-content: space-between;
    
      > li {
        
      }
    }
  }
} 